.titulo-section{
    display: flex;
    flex-direction: row;
}
.titulo-section span{
    color: rgb(169, 45, 0);
    margin-right: 10px;
}
.titulo-section h3{
    font-weight: 900;
    font-size: 25px;
    margin: 0;
}
.titulo-section hr{
    display: flex;
    margin: 0 15px;
    width: 300px;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(152, 152, 152);
}
@media (max-width:720px) {
    .titulo-section{
        width: 100%;
        height: 30px;
    }
    .titulo-section h3{
        width: 100%;
        height: 30px;
        margin: 0 35px;
    }
    .titulo-section hr{
        width: 80%;
    }
}
@media (min-width: 721px) and (max-width: 1024px) {
}